<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple</title>
  </head>
  <body>
    <form method="post" action="/signup">
      <div>
        <label>Pick a Username:</label>
        <input type="text" name="username" value="">
      </div>
      <div>
        <label>Enter Your Email:</label>
        <input type="text" name="email" value="">
      </div>
      <div>
        <label>Create a Password:</label>
        <input type="password" name="password" value="">
      </div>
      <div>
        <button type="submit">Create My Account</button>
      </div>
    </form>
  </body>
</html>
