[submodule "tool/hbase/vagrant-hbase"]
	path = tool/hbase/vagrant-hbase
	url = https://github.com/zsiciarz/vagrant-hbase.git
[submodule "tool/cassandra/vagrant-cassandra"]
	path = tool/cassandra/vagrant-cassandra
	url = https://github.com/bcantoni/vagrant-cassandra
[submodule "tool/ansible/ansible-tuto"]
	path = tool/ansible/ansible-tuto
	url = https://github.com/leucos/ansible-tuto.git
[submodule "tool/salt/salt-vagrant-demo"]
	path = tool/salt/salt-vagrant-demo
	url = https://github.com/UtahDave/salt-vagrant-demo.git
