# Ignore all occurrence of node_modules.
node_modules

# Ignore following directories.
startup/*
language/go/bin/*

# Ignore folling files.
.DS_Store

# Ignore source directory but preserve go-workspace.
source/*
!source/go-workspace
source/go-workspace/*
!source/go-workspace/README.md
