# Ignore all occurrence of following directories and files.
.vagrant
node_modules
bin
a.out

# Ignore following directories.
startup/*
source/*

# Ignore following files.
.DS_Store
GPATH
GRTAGS
GTAGS

#
# Golang ignore files
#
# Ignore source directory but preserve go-workspace.
!workspace
workspace/*
!workspace/README.md

# Ignore go src directory but not my code.
language/go/src/*
language/go/pkg/*
language/go/bin/*
!language/go/src/github.com
language/go/src/github.com/*
!language/go/src/github.com/ddysher
