<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Hello World, AngularJS - ViralPatel.net</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  </head>

  <body>
    <!-- 'ng-controller' defines a Controller to be bound with the view. Here,
         we put ContactController inside the div, so it will have its influence
         on the this div. -->
    <div ng-controller="ContactController">
      Email: <input type="text" ng-model="newcontact"/>
      <!-- It is also possible to define functions on $scope and use the same
              in View. The function add() is bound to Add button using attribute
              'ng-click'. -->
      <button ng-click="add()">Add</button>
      <h2>Contacts</h2>
      <ul>
        <!-- 'ng-repeat' loops through contacts, which is added in $scope.contacts,
            and display each 'contact'. -->
        <li ng-repeat="contact in contacts"> {{ contact }} </li>
      </ul>
    </div>

    <script type="text/javascript">
      /* The ContactController is just a plan javascript function. The $scope
         oject is used to bind the controller with view. AngularJS automatically
         create the object and inject in this controller function. Note for real
         world project, controller should be defined within module. */
      function ContactController($scope) {
        $scope.contacts = ["hi@email.com", "hello@email.com"];
        $scope.add = function() {
          /* Add a string in 'contact' array. Note we bind textbox using ng-model
             attribute, so we can reference it using $scope.newcontact. */
          $scope.contacts.push($scope.newcontact);
          $scope.newcontact = "";
        }
      }
    </script>
  </body>
</html>
