Hello
{% for name in names %}
{% if loop.last %}
{{ name }}
{% else %}
{{ name }},
{% endif%}
{% endfor %}

<form action="/send" method="post">
  <div>
    <textarea name="comment" rows="3" cols="60">
    </textarea>
  </div>
  <div>
    <input type="submit" value="Send">
  </div>
</form>

<br>
{% for comment in comments %}
{{ comment.content }}
<em style="font-size: smaller">
  Posted: {{ comment.date }}.
</em>
<br><br>
{% endfor %}

{% for comment in sqlcomments %}
{{ comment[0] }}
<em><font size=-1>
  Posted: {{ comment[1] }}.
  Moderated: {{ comment[2] }}.
</font></em>
<br>
<audio controls>
  <source src="http://104.154.50.111:8000/?text={{ comment[0] }}" type="audio/wav">
</audio>
<br>
{% endfor %}
